body {
    background-color: #212529; 
    color: #f1f1f1; 
    font-family: 'Roboto', sans-serif; 
}

.pagina {
    display: flex;
    flex-direction: row;
}

.left-bar {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right-bar {
    background-image: url('../img/autores-2.png');
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.header-derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 35px 30px 0 0;
}

.header-derecha .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 2.2rem;
}

.header-derecha .nav-link {   
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.header {
    align-items: start;
    padding: 30px 0 0 30px;
}

.navbar-brand-custom {
    font-size: 1.8rem;
    line-height: 1;
}
.navbar-brand-custom .small-subtitle {
    font-size: 0.7rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-left: 20px;
    position: relative;
    top: -13px;
    display: inline-block;
}

.contenido {
    padding: 120px 0;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand-text {
    font-size: 5rem;
    line-height: 1;
}

.navbar-brand-text .small-subtitle-text {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
    margin-left: 5px;
    position: relative;
    top: -40px;
    display: inline-block;
}

.text-group{
    margin-top: 28px;
}

